<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Link Shortener</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/links.css">

</head>
<style>
   body {
      background: url(static/css/img/back_desktop.jpg);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover
   }
</style>

<div class="container">
    <h1 class="neonText">
        ЕСЧО
    </h1>
    <h2 class="neonText">НЕ ГОТОВО</h2>
</div>
</html>