<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Сокращатель ссылок 2.0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewpoint" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="static/css/showShortLink.css"/>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</head>
<body>
<script>
        function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
}

</script>

<div class="container">
    <h1 class="neonText" th:text="${showUrl}" id="copyLink"></h1>
    <div class="btn">
        <button class="neon" onclick="copyToClipboard('#copyLink')">скопировать</button>
        <a href="/">
            <button class="neon">на  главную</button>
        </a>
    </div>
</div>
</body>
</html>
